<!DOCTYPE html> 
<html>

    <head>

    </head>

    <body>
            <header>
                    <img src = "img/logo-mercado-liebre.svg"/> 
                    <input placeholder="buscar productos, marcas"/>
                    <h1>Comprá en cuotas y sin tarjeta de credito</h1>
                    <ul>
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>
                        <li>Vender</li>
                        <li>Ayuda</li>
                        <li>Creá tu cuenta</li>
                        <li>Ingresá</li>
                        <li>Mis compras</li>
                    </ul>
            </header>
            
            <main>
                <h2>Basado en tu ultima visita</h2>
                <ul>
                    <img src = "img/img-cafetera-moulinex.jpg"  width="200" height="200"/>
                    <li>$6770</li>
                    <li>40% off</li>
                    <li>Cafetera Moulinex</li>
                </ul>
                <ul>
                    <img src = "img/img-macbook-pro-2019.jpg"  width="200" height="200"/>
                    <li>$175000</li>
                    <li>20% off</li>
                    <li>Macbook Pro 2019</li>
                </ul>
                <h2>Seccion de Ofertas</h2>
                <ul>
                    <img src = "img/img-samsung-galaxy-s10.jpg"  width="200" height="200"/>
                    <li>$100000</li>
                    <li>15% off</li>
                    <li>Samsung Galaxy s10</li>
                </ul>
                <ul>
                    <img src = "img/img-tv-samsung-smart.jpg"  width="200" height="200"/>
                    <li>$200000</li>
                    <li>50% off</li>
                    <li>TV Samsung Smart</li>
                </ul>
            </main>

            <footer>
                <ul>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <h3>Envió gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                </ul>
            </footer>

    </body>

</html>